@model SecondAid.Models.Health.Schedule

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Schedule</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ScheduleId" />
        
        <div class="form-group">
            <label asp-for="Patient.UserName" class="control-label col-md-2">Patient UserName</label>
            <div class="col-md-10">
                <input asp-for="Patient.UserName" class="form-control" disabled="disabled" />
                <span asp-validation-for="Patient.UserName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProcedureId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ProcedureId" class="form-control" asp-items="ViewBag.ProcedureId"></select>
                <span asp-validation-for="ProcedureId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Time" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Time, new { @class = "form-control datepicker", placeholder = "Enter a date" })
                <span asp-validation-for="Time" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsCompleted" />
                    <label asp-for="IsCompleted"></label>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <script type="text/javascript">
        $('.datepicker').datetimepicker();
    </script>
}